body{
    background: #1a1d20;
    height: 100vh;
}
#mainSidebar{
    width: 320px;
    background: #20262c;
    height: calc(100% - 20px);
    position: fixed;
    top: 10px;
    left: 10px;

}
.menubar ul li{
    display: flex;
    justify-content: flex-end;
    color: #f5f5f5;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    padding: 5px;
}
#mainContent{
    width: calc(100% - 345px);
    background: #282d31;
    position: absolute;
    right: 10px;
    top: 10px;

}
#rightSidebar{
    width: 80px;
    background: #20262c;
    height: calc(100% - 20px);
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar{
    color: #f5f5f5;
    background: #31373d;
}
.sidebar img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}
.intro img{
    height: 420px;
    
}
.whatIdo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.testimonials img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.clients{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.clients img{
    width: 100px;
    height: 20px;
    background: #343a40;
}
.pricing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.funfacts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.funfacts .row .col-4{
    margin: 10px;
    width: 235px;
    height: 125px;
    background: #343a40;
    border-radius: 10px;
}
.pricing .row .col-4{
    display: flex;
    align-items: flex-start;
    width: 235px;
    height: 400px;
    margin: 10px;
    background: #343a40;
    border-radius: 10px;
}
.testimonials .row .col-6{
    margin: 10px;
    width: 365px;
    height: 340px;
    background: #343a40;
    border-radius: 10px;
}
.whatIdo .row .col-3{
    margin: 20px 50px;
    height: 190px;
    width: 300px;
    padding: 10px;
    }

    h1, h4, h5{
    color: #eeeeee;
    }

    p{
    color: #a6a7a8;
    }

    .funfacts p{
        color: #eeeeee;
    }

    .slvr, .gld, .pltnm{
    color: #eeeeee;
    }
    .mnth{
        color: #a6a7a8;
    }
    .funfacts, span{
        color: #007ced;
    }
    .funfacts, .i{
        color: #a6a7a8;
    }